<div >
    <div class="container-fluid">
    <h2> Please select customer group in this page </h2>    
      <div class="row">
            <div class="col-md-4">
                <h5>Groups</h5>
                <div class="list-group" >
                  <a href='#' class="list-group-item" v-for="group in custgroups" v-bind:key="group.id">
                    <h4 class="list-group-item-heading">{{ group.groupname }}</h4> 
                    <p class="list-group-item-text"><i>{{ group.groupdesc }}</i></p>
  
                    <button @click="delgroup(group)" style=""> 
                    <i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </a>
                </div>    
                <input type="text" v-model="newgroup.groupname" >
                <input type="text" v-model="newgroup.groupdesc" >
                <button @click="addgroup" type="button" class="btn btn-default">Add</button>
            </div>
            <div class="col-md-8">
                <h5>Group details</h5>
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="cust in customers">
                    <td>{{ cust.id }}</td>
                    <td>{{ cust.email }}</td>
                    <td>{{ cust.name }}</td>
                  </tr>
                </tbody>
        </table>  
            </div>
        </div>
    </div>
  </div>