<div >
    <h2> Please select customer group in this page </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3>Groups</h3>
                <ul class="list-group" >
                    <li class="list-group-item" v-for="group in custgroups"> {{ group.name }} </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h3>Group details</h3>
                <ul class="list-group" >
                    <li class="list-group-item" v-for="cust in customers">{{ cust.id }} |{{ cust.email }}| {{ cust.name }}| </li>
                </ul>   
            </div>
        </div>
    </div>
</div>


<table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="cust in customers">
            <td>{{ cust.id }}</td>
            <td>{{ cust.email }}</td>
            <td>{{ cust.name }}</td>
          </tr>
        </tbody>
</table>


<h4 class="list-group-item-heading">List group item heading</h4>

<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>



<div class="list-group" >
  <a href='#' class="list-group-item" v-for="group in custgroups" v-bind:key="group.id">
    <h4 class="list-group-item-heading">{{ group.groupname }}</h4> <i class="icon-trash" @click="delgroup(group)"></i>
    <p class="list-group-item-text">{{ group.groupdesc }}</p>
  </a>
</div>


<ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
  <li class="list-group-item"  v-for="group in custgroups" v-bind:key="group.id" >
      <div class="widget-content p-0">
          <div class="widget-content-wrapper">
              <div class="widget-content-left text-left">
                  <div class="widget-heading">{{ group.groupname }}</div>
                  <div class="widget-subheading">{{ group.groupdesc }}</div>
              </div>
              <div class="widget-content-right text-right">
                    <button type="button" class="btn btn-default btn-sm" @click="delgroup(group)">
                      <span class="glyphicon glyphicon-trash" ></span> Del
                    </button>
              </div>
          </div>
      </div>
  </li>
</ul>


<ul class="todo-list-wrapper list-group list-group-flush">
  <li class="list-group-item"  v-for="group in custgroups" v-bind:key="group.id">
      <div class="todo-indicator bg-primary"></div>
      <div class="widget-content p-0">
          <div class="widget-content-wrapper">

              <div class="widget-content-left">
                  <div class="widget-heading">{{ group.groupname }}</div>
                  <div class="widget-subheading"><i>{{ group.groupdesc }}</i></div>
              </div>
              <div class="widget-content-right widget-content-actions">
                  <button class="border-0 btn-transition btn btn-outline-danger" @click="delgroup(group)">
                      <i class="fa fa-trash-alt"></i>
                  </button>
              </div>
          </div>
      </div>
  </li>
</ul>
  

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="list-group" >
        <a href='#' class="list-group-item" v-for="group in custgroups" v-bind:key="group.id">
          <h4 class="list-group-item-heading">{{ group.groupname }}</h4> 
          <p class="list-group-item-text"><i>{{ group.groupdesc }}</i></p>

          <button @click="delgroup(group)" style=""> 
          <i class="glyphicon glyphicon-trash"></i>
          </button>
        </a>
      </div>    
        <input type="text" v-model="newgroup.groupname" >
        <input type="text" v-model="newgroup.groupdesc" >
        <button @click="addgroup" type="button" class="btn btn-default">Add</button>
      </div>
    </div>
    <div class="span10">
      <h5>Group details</h5>
              <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Email</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="cust in customers">
                  <td>{{ cust.id }}</td>
                  <td>{{ cust.email }}</td>
                  <td>{{ cust.name }}</td>
                </tr>
              </tbody>
      </table>  
    </div>
  </div>
</div>


<div >
  <div >Setting the content of the mail</div>

  <div >
    
    <form>
    <div class="form-group">
      <label >Mail Subject</label>
      <input type="text" placeholder="subject">
    </div>
    <div class="form-group">
      <label >Send To</label>
      <input type="text"  placeholder="Send to">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Attachments</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Upload your attached ment here.</p>
    </div>

    <div class="form-group">
      <label >HTML Mail Body</label>
      <input type="textarea"  placeholder="Mail Content">
    </div>



    <button type="submit" class="btn btn-default">Next</button>
  </form>

    
  </div>
</div>
  